.weather-item__details {
  width: 100%;
  table-layout: fixed;
  font-size: 14px;
  padding-top: 50px;
  text-align: center;
}

.weather-item__detail-label,
.weather-item__detail-value {
  padding: 5px 0;
  vertical-align: middle;
}